{% extends "pcrs/base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    {% include "problems/code_problem_scripts.html" %}
    {% include "problems/visualizer_python_includes.html" %}
    {% load compress %}
    {% compress js %}
        <script src="{% static "csrf_protection.js" %}"
                type="text/javascript"></script>
        <script src="{% static "problems/js/problems_helper.js" %}"
            type="text/javascript"></script>
        <script src="{% static "problems_multiple_choice/js/mc_submit.js" %}"
                type="text/javascript"></script>
        {% if 'problems_rating' in problem_types %}
        <script src="{% static "problems_rating/js/rating_submit.js" %}"
                type="text/javascript"></script>
        {% endif %}
        {% if 'problems_short_answer' in problem_types %}
        <script src="{% static "problems_short_answer/js/short_answer.js" %}"
                type="text/javascript"></script>
        {% endif %}
        {# video js for video widget #}
        <script src="{% static "video_js/video.js" %}"
                type="text/javascript"></script>
        <script src="{% static "content/js/side_bar.js" %}"
                type="text/javascript"></script>
    {% endcompress %}
    {% include "pcrs/node_socket_io_includes.html" %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% include "problems/code_problem_stylesheets.html" %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "video_js/video-js.css" %}">
        <link rel="stylesheet" href="{% static "less/challenge_page.css" %}">
    {% endcompress %}
{% endblock %}

{% block page_title %}
    {{ content_page.challenge.name }} - Part {{ content_page.order }} of
    {{ num_pages }}
{% endblock %}


{% load filters %}
{% block content %}
    {{ block.super }}

    {% include 'content/side_bar.html' %}
    {% for object in object_list %}
        {% with item=object.content_object %}
            {% if item|classname|lower == "textblock" %}
                <div id="textblock-{{ item.pk }}">
                    {% include "content/textblock.html" %}
                </div>
            {% elif item|classname|lower == "video" %}
                <div id="video-{{ item.pk }}">
                    {% include 'content/video_widget.html' %}
                </div>
            {% elif item|classname|lower == "problem" %}
                {% with problem_type=item|module_name %}
                    {% if problem_type == 'problems_multiple_choice' or problem_type == 'problems_rating' or problem_type == 'problems_short_answer' or problem_type == 'problems_parsons' %}
                        <div id="{{ problem_type|get_div_class }}-{{ item.pk }}">
                    {% else %}
                        <div id="{{ problem_type|get_div_class }}-{{ item.pk }}"
                             class="code-mirror-wrapper">
                    {% endif %}
                    {% with problem=item mark=best|get_item:problem_type|get_item:item.pk form=forms|get_item:problem_type|get_item:item.pk %}
                    {% include item.get_module_name|add:"/submission_widget.html" %}
                    {% endwith %}
                {% endwith %}
            </div>
            {% endif %}
        {% endwith %}
    {% endfor %}

{% if content_page.order > 1 %}
    <a class="green-button" role="button"
       href="{{ content_page.order|add:-1 }}"
       title="Go to previous page">
        <i class="chevron-left-icon"></i>
    </a>
{% endif %}

{% if next %}
    <a class="green-button pull-right" role="button"
       href="{{ next.get_absolute_url }}"
       title="Go to next page">
        <i class="chevron-right-icon"></i>
    </a>
{% endif %}

{% endblock %}
