<div class="pcrs-modal-trace" id="visualizerModal" aria-hidden="true">
    <div class="pcrs-modal-trace-content" style="height: 90%; width: 90vw;">
        <div class="pcrs-modal-body" style="display: flex; width: 100%; height: 100%; flex-direction: column; overflow: hidden;">
            <iframe id="riscvview-iframe" src="{{ site_prefix }}/static/riscvview/index.html" 
            style="flex-grow: 1; border: none; margin: 0; padding: 0;"></iframe>


            <div class="pcrs-modal-footer">
                <button type="button" class="reg-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
