{% extends "problems/parsons_problem_form.html" %}

{% block scripts %}
    {{ block.super }}
    {% load compress %}
    {% load static %}
    {% compress js %}
    <script type="text/javascript">
        problemFormPageLoadCallback = function() {
            var mode = cmModeForLanguageAndVersion('python', 3);
            new ProgrammingProblemFormHandler($('form'), mode).pageLoad();
        };
    </script>
    {% endcompress %}
{% endblock %}

{% block content %}
    {{block.super}}
    {% load static %}
    <script src="{% static "parsons/jquery.sound.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery.ui.touch-punch.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/prettify.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/skulpt.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/skulpt-stdlib.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/underscore-min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/lis.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/parsons.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "parsons/prettify.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "parsons/parsons.css" %}" type="text/css" />
    <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/modal.js" %}"
            type="text/javascript"></script>
    <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/transition.js" %}"
            type="text/javascript"></script>
    <div id="parsonsModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Parsons Preview</h4>
              </div>
              <div class="modal-body">
                <div id="sortableTrash" class="sortable-code">
                    <p>Trash</p>
                </div>
                <div id="sortable" class="sortable-code">
                    <p>Solution</p>
                </div>
                <div style="clear:both;"></div>
                <div id="jsparson"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
    </div>
{% endblock %}
