{% extends "problems/submission.html" %}

{% load static %}

{% block page_title %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    {% include "problems/visualizer_python_includes.html" %}
    {% load compress %}
    {% compress js %}
        <script src="{% static "csrf_protection.js" %}" type="text/javascript"></script>
        <script src="{% static "problems/js/problems_helper.js" %}"
            type="text/javascript"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="{{ problem.get_problem_type_name }}-{{ problem.pk }}">
        {% include "problems_parsons/submission_widget.html" %}
    </div>
{% endblock %}
