{% extends "problems/submission_widget.html" %}

{% block problem_title %}
    {{ block.super }}
{% endblock %}

{% block problem_description %}
<div>
    {% autoescape off %}
    {% if problem.is_visible_to_students %}
    <h4 class="problem-description">{{ problem.description|linebreaksbr }}</h4>
    <h5>Construct a solution by dragging blocks from left hand side to right hand side</h5>
    {% else %}
    <h5>This question is currently unavailable.</h5>
    {% endif %}
    {% endautoescape %}
</div>
<br>
{% endblock %}

{% load static %}
{% block submission_form %}
<div id="parsons_submission_form">
    <script src="{% static "jquery-2.1.1.min.js" %}"
                    type="text/javascript"></script>
    <script src="{% static "parsons/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery.sound.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery.ui.touch-punch.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/prettify.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/skulpt.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/skulpt-stdlib.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/underscore-min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/lis.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/parsons.js" %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap_less/bootstrap-3.2.0/js/modal.js' %}"
        type="text/javascript"></script>
    <script src="{% static "csrf_protection.js" %}" type="text/javascript"></script>
    <script src="{% static "problems_parsons/js/parsons_submit.js" %}"
            type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "parsons/prettify.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "parsons/parsons.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "problems_parsons/css/student-style.css" %}" type="text/css" />

    <div id="sortableTrash_{{problem.id}}" class="sortable-code" style="width: 40%">
        <p>Trash</p>
    </div>
    <div id="sortable_{{problem.id}}" class="sortable-code" style="width: 40%">
        <p>Solution</p>
    </div>
    <div style="clear:both;"></div>
    <a href="#" id="newInstanceLink" class="resetButton">Reset</a>
    <div id="jsparson"></div>
    {% autoescape off %}
    <script type="text/javascript">
        $(document).ready(function () {
            var happyFaceURL = "{% static 'problems/img/yellow-happy-face.png' %}";
            var sadFaceURL = "{% static 'problems/img/red-sad-face.jpg' %}";
            const problem_id = `{{problem.id}}`;
            const initial = `{{problem.starter_code}}`;
            const payload = {'sortableId': `sortable_${problem_id}`,'trashId': `sortableTrash_${problem_id}`};
            const parson = new ParsonsWidget(payload);
            parson.init(initial);
            parson.shuffleLines();
                        
            $(`#parsons-${problem_id}`).find('#button-id-submit').click(function(event){
                event.preventDefault();
                const problem_pk = $(this)
                    .parents('div[id^="parsons-"]')
                    .attr('id')
                    .split("-")[1];
                parson.getFeedback(problem_pk);
            });

            $(`#parsons-${problem_id}`).find("[name='history']").click(function(){
                const parsons_id = $(this).parents('div[id^="parsons-"]')[0].id;
                getParsonsHistory(parsons_id);
            });

            $(`#parsons-${problem_id}`).find("#newInstanceLink").click(function (event) {
                event.preventDefault();
                parson.shuffleLines();
            });
        });
    </script>
    {% endautoescape %}
    {% if problem.evaluation_type.0 != problem.EvaluationChoices.LINE_COMPARISON %}
        {% include "problems_parsons/grade_table.html" %}
    {% endif %}
    {% include "problems/wait_async_job.html" %}
</div>
<br>
{% load crispy_forms_tags %}
{% crispy form %}

<br>

{% endblock %}


{% block history %}
    {% include "problems_parsons/submission_history.html" %}
{% endblock %}
