{% extends "problems/problem_form.html" %}

{% block scripts %}
    {{ block.super }}
    {% include "problems/parsons_problem_form_scripts.html" %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% load static %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet"
            href="{% static "codemirror-4.1/lib/codemirror.css" %}">
        {% comment %}
            Three styles:
            monokai: dark background
            eclipse : light background
            shaped : black on white
        {% endcomment %}
        {% if user.code_style == "monokai" %}
            <link rel="stylesheet"
                href="{% static "codemirror-4.1/theme/monokai.css" %}">
        {% elif user.code_style == "eclipse" %}
            <link rel="stylesheet"
                href="{% static "codemirror-4.1/theme/eclipse.css" %}">
        {% else %}
            <link rel="stylesheet"
                href="{% static "codemirror-4.1/theme/shaped.css" %}">
        {% endif %}
    {% endcompress %}
{% endblock %}

