{% extends "pcrs/item_form.html" %}

{% block page_title %}
    {% if object %}
        Edit Problem
    {% else %}
        Create Problem
    {% endif %}
{% endblock %}

{% load static %}
{% load compress %}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{% static 'csrf_protection.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'multi-select/js/jquery.multi-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'multi-select/js/jquery.quicksearch.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap_less/bootstrap-3.2.0/js/modal.js' %}"></script>
        <script type="text/javascript" src="{% static 'problems/js/problem_form.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {% compress css %}
        {# Necessary for modal windows #}
        <link rel="stylesheet" href="{% static "less/problem_form.css" %}">
        <link rel="stylesheet" href="{% static 'multi-select/css/multi-select.css' %}">
        <link rel="stylesheet" href="{% static 'problems/css/style.css' %}">
    {% endcompress %}
{% endblock %}

{% block related_items %}
    {% if object %}
        <!-- If the problem is not parsons, or parsons problem doesn't have line comparison evaluation -->
        {% if object.get_problem_type_name != 'parsons' or object.evaluation_type.0 != object.EvaluationChoices.LINE_COMPARISON %} 
            {% with list_name='Testcases' object_list=object.testcase_set.all related_item_name='testcase' %}
                {% include "pcrs/related_items.html" %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% block file_upload %}
        {% if object %}
            {% if object.get_problem_type_name == 'r' %}
                <h3 id="data_set_title">Data Set</h3>
                <div class="alert alert-info" role="alert">
                    R code is generated in the following order:
                    <br>&nbsp&nbsp1. Default seed based on user id
                    <br>&nbsp&nbsp2. Script
                    <br>&nbsp&nbsp3. Instructor's data set
                    <br>&nbsp&nbsp4. User's data set
                    <br>&nbsp&nbsp5. Submission code
                    <br>To use data sets, the script this problem uses must set the <strong>data_set</strong> variable. This variable
                    is what the data set will be stored in. For example, <strong>data_set <- 1</strong> would work.
                </div>
                <input type="file" id="file_upload" name="{{ object.pk }}"></input>
                {% if object.data_set %}
                    <div id="file_existance" class="alert well">
                        <p>
                            <input type="button" id="delete_file" class="btn btn-danger pull-right"
                                value="Delete Data Set"></input>
                            File Name: {{ object.data_set.name }}<br>First 150 Characters:<br>
                            {{ object.data_set.get_str_data|linebreaksbr|slice:":150"}}
                        </p>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include "problems/AlertModal.js.html" %}
{% endblock %}
